<section class="success" id="about">
        <div class="container">
            <div class="col-lg-12 text-center">
                <h2>Sobre</h2>
                <hr class="star-light">
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>Sou um desenvolvedor de software Full Stack, graduado no curso de Ciências da Computação e investidor do mercado financeiro nas horas vagas. Atuo na área de Tecnologia de Informação há 8 anos, onde comecei especificamente na área analítica
                        de infraestrutura e servidores. Nos últmos 05 anos estive focado em desenvolvimento de softwares.
                    </p>
                </div>
                <div class="col-lg-12">
                    <p> Durante estes 8 anos na carreira de Tecnologia da Informação, tive a oportunidade de atuar 3 anos na área de infraestrutura de redes. Atuando diretamente com Sistemas servidores Windows e Linux, configurando roteadores e switches,
                        ambientes de desenvolvimento, criando rotinas de backup, configurando sistemas DBMS e criando scripts que automatizassem algumas dessas tarefas. Essa experiência me deu um ótimo background para iniciar minha carreira na área de
                        desenvolvimento de softwares</p>
                </div>
                <div class="col-lg-12">
                    <p> Em minha carreira desenvolvi soluções para diversas áreas tais como: Varejo, Logística, ERP's e Segurança. Durante as atuações nessas áreas, tive a oportunidade de vivenciar diversas arquiteturas de projetos, padrões e metologias de
                        desenvolvimento e tecnologias específicas para cada solução, o que me deu bagagem o suficiente para desenvolver módulos de aplicações extensíveis e testáveis utilizando padrões de boas práticas como SOLID, TDD e GRASP.</p>
                    <p> Meus principais conhecimentos hoje são:</p>
                    <div class="label-skills-container">
                        <p>• Linguagens/bibliotecas (Python, C#, .NET Full, .NET Core). </p>
                        <p>• Web Application (Angular JS 2, Web API 2,MVC 5, Web Forms, HTML5, JavaScript, CSS3, Knockout JS, Bootstrap, Underscore.js, JQuery). </p>
                        <p>• Manipulação de dados (Entity Framework 6, Oracle 11g, ADO.NET, MS SQL, XML). • Arquitetura de desenvolvimento (MVC, MVVM, IoC, DI). </p>
                        <p>• Engenharia de software (GOF, GRASP, SOLID, TDD). </p>
                        <p>• Aplicações distribuídas (Web API 2, WCF). </p>
                        <p>• Desenvolvimento Mobile (Ionic2/Angularjs2).</p>
                        <p>• Desenvolvimento de Windows Form (multi-treads, comunicação serial).</p>
                        <p>• Application Lifecycle Management (VSTS, builds automáticas, powerShell)</p>
                        <p>• Versionadores de códigos (TFS, GitHub, SVN).</p>
                    </div>
                </div>
            </div>
        </div>
    </section>