<section class="experience" id="experience">
        <div class="container">
            <div class="col-lg-12 text-center">
                <h2>Expêriencia</h2>
                <hr class="star-primary star">
            </div>
            <!--<div class="row timeline-desktop">
                <div class="loading-slider" data-u="loading">
                    <div class="loading-overlay"></div>
                    <div class="loading-icon"></div>
                </div>
                <div id="timeline">
                    <ul id="dates">
                        <li class="timeline-label"><a href="#">Atual</a></li>
                        <li class="timeline-label"><a href="#">10/2015</a></li>
                        <li class="timeline-label"><a href="#">03/2012</a></li>
                        <li class="timeline-label"><a href="#">07/2010</a></li>
                        <li class="timeline-label"><a href="#">10/2009</a></li>
                    </ul>
                    <ul id="issues">
                        <li class="timeline-label" id="date6">
                            <h1>Atual</h1>
                            <p>
                                <span class="company-label text-strong">Empresa:</span> <span class="company-name">Autônomo.  Desenvolvimento e estudo de projeto para integração entre plataformas
de mercado financeiro e desenvolvimento mobile com o intuito de me aperfeiçoar nas
tecnologias descritas.
                        </span>
                            </p>
                            <p>
                                <span class="position-label text-strong">Cargo:</span> <span class="position-name">Analista Desenvolvedor
                        </span>
                            </p>
                            <p> <span class="company-label text-strong">Principais Projetos:</span></p>
                            <p><span class="company-label text-strong">TwoForOneApp (Ionic2) - </span>Projeto em desenvolvimento para plataforma Mobile (Android/IOS) com o intuito de gerenciar e demonstrar cupons de desconto fornecidos por uma empresa terceira.
                            </p>
                            <p>No back-end utilizei o novo Framework ASP.NET Web Api Core juntamente com Entity Framework 6 e SQL Server para persistência dos dados. No front-end optei por desenvolver em Ionic2 com Angularjs 2 para as principais plataformas
                                mobile (Androis/IOS) juntamente com o Google Maps API para uma melhor user experience.
                            </p>
                            <p><span class="company-label text-strong"><a target="_blank" href="http://www.rankeia.com">Startup Rankeia - </a></span>Startup idealizada por dois amigos, onde me juntei com estes para agregar valores a Startup. Trata-se de
                                uma plataforma de comparação direcionada a dados com o objetivo de ajudar os consumidores em suas tomadas de decisões de compras.</p>
                            <p> A Plataforma foi desenvolvida na plataforma .NET utilizando-se Web Api no back-end para gerenciamento de requisições e o framework AngularJS no front-end para user interface. Como serviço, criou-se uma inteligencia de captura
                                automática dos dados de diversos sites para popular a base de dados de produtos. Além do conhecimento técnico, vale ressaltar o conhecimento empresarial que estou adiquirindo neste projeto. Juntamente com a equipe, trabalhamos
                                todos os aspectos de um workflow para criação de uma startup, desde a validação da idéia do projeto, até um plano de negócios consistente e a publicidade da idéia.</p>
                            <p> Ainda tenho muito que evoluir, mas aos poucos estou aprimorando este conhecimento empresarial, que acredito ter grande potencial no futuro.
                            </p>
                        </li>
                        <li class="timeline-label" id="date5">
                            <h1>10/2015</h1>
                            <p>
                                <span class="company-label text-strong">Empresa:</span> <span class="company-name">Planner Consultoria e Desenvolvimento de Software - empresa que oferece serviços
de consultoria em desenvolvimento atendendo principalmente a área de logística de veículos
terrestres e geolocalização
                        </span>
                            </p>
                            <p>
                                <span class="position-label text-strong">Cargo:</span> <span class="position-name">Analista Desenvolvedor Pleno
                        </span>
                            </p>
                            <p> <span class="company-label text-strong">Sistema de Geolocalização e Gerenciamento de Veículos (.NET) –</span> Sistema desenvolvido para gerenciamento, análise e visualização de veículos equipados com sistema GPS.
                            </p>
                            <p>O Sistema web foi desenvolvido utilizando uma arquitetura em camadas e últimas tecnologias da microsoft como Entity Framework 6.0 agindo como facilitador de acesso ao banco de dados, MVC 5 no front-end utilizando JQuery JS
                                e Google Maps API para visualização da posição dos veículos além de gerenciamento de rotas e visualização de desvios. Além do sistema web, criou-se também um serviço (em C++) para o processamento rápido de todos os GPS
                                que eram gerados pelos veículos. </p>
                        </li>
                        <li class="timeline-label" id="date4">
                            <h1>03/2012</h1>
                            <p>
                                <span class="company-label text-strong">Empresa:</span> <span class="company-name"> Fcamara- Formação e Consultoria em TI, empresa que oferece serviços de
consultoria em TI focada em desenvolvimento e atendendo as áreas de e-commerce, operações
portuarias, inovação, consultoria e operações críticas 
                        </span>
                            </p>
                            <p>
                                <span class="position-label text-strong">Cargo:</span> <span class="position-name">Analista Desenvolvedor Pleno
                        </span>
                            </p>
                            <p> <span class="company-label text-strong">Principais Projetos:</span></p>
                            <p><span class="company-label text-strong">Sistema de Integração (Python) – </span> Sistema criado para agir como intermediário entre dois endpoints, fossem esses SQL, Soap Service ou Rest Service.
                            </p>
                            <p> Foi utilizado Python 3.4 como linguagem de desenvolvimento integrando o Flask Web Framework para o gerenciamento de sessões dos usuarios e controle de permissão as views.Para comunicação com serviços Rest e Soap o modulo nativo
                                Requests do Python agiu como base de comunicação. O Mysql serviu como banco relacional interno integrado com o ORM Peewee, por ser dinâmico e atuar como intermediário do banco no back-end da aplicação. No front-end utilizou-se
                                o framework AngularJS para uma melhor convenção de programação e rápido desenvolvimento dos CRUDS utilizados na aplicação. Na autenticação utilizou-se o modulo JWT para criação do token de autenticação do usuário logado
                                e interceptors do AngularJS para interceptar todas as requisições da aplicação para validação dos Tokens.
                            </p>
                            <p><span class="company-label text-strong">ERP Interno (. NET) –</span> Sistema interto de ERP. </p>
                            <p>Desenvolvido em AngularJS nas camadas de Front-End, integrando com uma camada middleware de Web Api (.NET) responsável pelo gerenciamento de todos os módulos do ERP. Como repositório do banco de dados e ORM utilizou-se o ADO.NET
                                Entity Framework 5. Na arquitetura, optou-se por desacoplar o front end do back-end, gerando camadas específicas para cada módulo do ERP e camcadas de back-end centralizadas na Web Api, de modo que o desenvolvimento e deploy
                                de front e back-end fossem independentes.
                            </p>

                            <p> <span class="company-label text-strong">Aplicações Servidor(.NET) – </span> Webservices/WCF's
                            </p>
                            <p>Serviços Desenvolvidos em C# dentre eles Windows Services, Web Services e WCF. </br>São sistemas de alta disponibilidade e desempenho, comunicação feita em diversos protocolos como FIX, TCP,UDP, .NET Remoting, dependente do
                                aplicativo cliente, acesso a bases de dado em SQL Server . Controle de versão pelo Team Foundation Server e GitHub. </p>

                            <p><span class="company-label text-strong">Sistemas BI (BI MSQL) –</span> Desenvolvimento de Cubos OLAP no Analysis Service com queries MDX pré- indexadas para filtragem e exibição de grandes quantidades de dados em dashboards
                                específicas de clientes. Criação de soluções em Reporting Service para geração de relatórios complexos e dinâmicos contemplando a criação de queries MDX aplicáveis nos cubos de dados. Criação de pacotes Integration Services
                                (SSIS) como solução ETL para Crawling, Consolidação e Load de grandes quantidades de dados em diferentes tipos de formato.
                            </p>
                        </li>

                        <li class="timeline-label" id="date2">
                            <h1>07/2010</h1>
                            <p>
                                <span class="company-label text-strong">Empresa:</span> <span class="company-name">Fiorde Logística, empresa que atua no mercado de logística internacional, com departamento de TI para arquitetura e desenvolvimento de projetos internos.
                        </span>
                            </p>
                            <p>
                                <span class="position-label text-strong">Cargo:</span> <span class="position-name">Analista Júnior de Infraestrutura
                        </span>
                            </p>
                            <p>Suporte e manutenção de servidores, computadores e notebooks (Software e Hardware). Diagnóstico e manutenção de redes, configuração de serviços diversos. Utilização e configuração de Active Directory para instalação e manutenção
                                dos sistemas operacionais Windows XP, Windows 2008 Server. Gerenciamento de firewall Linux através de iptables e criação de scripts de configuração de ambientes Linux. Criação de Scripts para gerenciamento de unidades de
                                rede, configuração do Active Directory e data-backup.
                            </p>
                        </li>
                        <li class="timeline-label" id="date2">
                            <h1>10/2009</h1>
                            <p>
                                <span class="company-label text-strong">Empresa:</span> <span class="company-name">PRODESP - Serviços de Governo Eletrônico
                        </span>
                            </p>
                            <p>
                                <span class="position-label text-strong">Cargo:</span> <span class="position-name">Analista Júnior de Infraestrutura
                        </span>
                            </p>
                            <p>Atuei no Centro de Processamento de Dados (CPD) do Poupatempo Guarulhos, tendo que lidar com a administração e atendimento de chamados para repararo de software/hardware de desktops e maquinas touchs, implementação de rotinas
                                de backup. Helpdesk Niveis 3 e 4.</p>
                        </li>
                    </ul>
                    <a href="#" id="next">+</a>
                    <a href="#" id="prev">-</a>
                </div>
            </div>
            <div class="row row-container timeline-mobile">
                <ul class="timeline">
                    <li>
                        <div class="timeline-badge primary">Atual</div>
                        <div class="timeline-panel">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item active">
                                    <a class="nav-link active timeline-nav" data-toggle="tab" href="#home" role="tab">Rankeia Startup</a>
                                </li>
                                <li class="nav-item timeline-nav">
                                    <a class="nav-link" data-toggle="tab" href="#profile" role="tab">TwoForOneApp</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="home" role="tabpanel">
                                    <div class="timeline-heading">
                                        <h5 class="timeline-title subtitle">Startup Rankeia</h5>
                                        <p><small class="text-muted"><i class="glyphicon glyphicon-certificate"></i> Co-Founder & Desenvolvedor</small></p>
                                    </div>
                                    <div class="timeline-body">
                                        <p>Startup idealizada por dois amigos, onde me juntei com estes para agregar valores a Startup. Trata-se de uma plataforma de comparação direcionada a dados com o objetivo de ajudar os consumidores em suas tomadas
                                            de decisões de compras.</p>
                                        <p> A Plataforma foi desenvolvida na plataforma .NET utilizando-se Web Api no back-end para gerenciamento de requisições e o framework AngularJS no front-end para user interface. Como serviço, criou-se uma inteligencia
                                            de captura automática dos dados de diversos sites para popular a base de dados de produtos. Além do conhecimento técnico, vale ressaltar o conhecimento empresarial que estou adiquirindo neste projeto. Juntamente
                                            com a equipe, trabalhamos todos os aspectos de um workflow para criação de uma startup, desde a validação da idéia do projeto, até um plano de negócios consistente e a publicidade da idéia.</p>
                                        </p>
                                    </div>
                                </div>
                                <div class="tab-pane" id="profile" role="tabpanel">
                                    <div class="timeline-heading">
                                        <h5 class="timeline-title subtitle">Desenvolvimento e estudo de projetos autônomos</h5>
                                        <p><small class="text-muted"><i class="glyphicon glyphicon-certificate"></i>  Analista Desenvolvedor </small></p>
                                    </div>
                                    <div class="timeline-body">
                                        <p>TwoForOneApp(Ionic2) – Projeto em desenvolvimento para plataforma Mobile (Android/IOS) com o intuito de gerenciar e demonstrar cupons de desconto fornecidos por uma empresa terceira. No back-end utilizei o novo
                                            Framework ASP.NET Web Api Core juntamente com Entity Framework 6 e SQL Server para persistência dos dados. No front-end optei por desenvolver em Ionic2 com Angularjs 2 para as principais plataformas mobile (Androis/IOS)
                                            juntamente com o Google Maps API para uma melhor user experience.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-label" id="date3">
                        <h1>07/2010</h1>
                        <p>
                            <span class="company-label text-strong">Empresa:</span> <span class="company-name">Fiorde Logística Internacional, prestadora de serviços logísticos no setor de importação e exportação.
                        </span>
                        </p>
                        <p>
                            <span class="position-label text-strong">Cargo:</span> <span class="position-name">Analista Júnior de Infraestrutura
                        </span>
                        </p>
                        <p>Atuar com programação, administração e implantação microsoft AD, DNS, WSUS, DHCP, Rotinas de backup, ambientes Microsoft e Linux. Análise e implantação de cabeamento estruturado, redes Wireless 802.11x. Configurações de servidores
                            Linux para implementação de Firewall e configuração de rede. Suporte Helpdesk Niveis 3 e 4.</p>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge warning">
                            <p class="label-multiple-year">2015/2016</p>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Planner Consultoria e Desenvolvimento de Software</h4>
                                <p><small class="text-muted"><i class="glyphicon glyphicon-certificate"></i>  Analista Desenvolvedor </small></p>
                            </div>
                            <div class="timeline-body">
                                <p>Sistema .NET desenvolvido para gerenciamento, análise e visualização de veículos equipados com sistemas GPS terceiros. O Sistema web foi desenvolvido utilizando uma arquitetura em camadas e últimas tecnologias Microsoft
                                    tais como Entity Framework 6.0 agindo como facilitador de acesso ao banco de dados, Framework Web API no back-end para gerenciamento de requisições e disponibilização de serviço REST. No front end desenvolvemos a apliação
                                    em Angular JS e Google Maps API para visualização da posição dos veículos além de gerenciamento de rotas e visualização de desvios. Além do sistema web, criou-se também um serviço (em C++) para o processamento rápido
                                    de todos os GPS que eram enviados pelos veículos.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge success">
                            <p class="label-multiple-year">2012/2015</p>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Fcamara Formação e Consultoria em TI</h4>
                            </div>
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item active">
                                    <a class="nav-link active timeline-nav" data-toggle="tab" href="#fcamaranet" role="tab">.NET</a>
                                </li>
                                <li class="nav-item timeline-nav">
                                    <a class="nav-link" data-toggle="tab" href="#fcamarapython" role="tab">Python</a>
                                </li>
                                <li class="nav-item timeline-nav">
                                    <a class="nav-link" data-toggle="tab" href="#fcamarabi" role="tab">BI</a>
                                </li>
                                <li class="nav-item timeline-nav">
                                    <a class="nav-link" data-toggle="tab" href="#fcamarasearchengine" role="tab">Search Engines</a>
                                </li>
                            </ul>
                            <div class="timeline-body">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="fcamaranet" role="tabpanel">
                                        <div class="timeline-heading">
                                            <h5 class="timeline-title subtitle">.NET</h5>
                                            <p><small class="text-muted"><i class="glyphicon glyphicon-certificate"></i>  Analista Desenvolvedor </small></p>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Sistema interto de ERP desenvolvido em AngularJS nas camadas de Front-End, integrando com uma camada de Web Api (.NET) responsável pelo gerenciamento de todos os módulos do ERP. Como repositório do banco de
                                                dados e ORM utilizou-se o ADO.NET Entity Framework 5. Na arquitetura, optou-se por desacoplar o front end do back-end, gerando camadas específicas para cada módulo do ERP e camcadas de back-end centralizadas
                                                na Web Api, de modo que o desenvolvimento e deploy de front e back-end fossem independentes</p>
                                            <p>Web services desenvolvidos em C# no framework WCF, para integração em sistemas de altadisponibilidade e desempenho, comunicação feita em diversos protocolos como FIX, TCP,UDP, .NET Remoting, dependente do aplicativo
                                                cliente. Controle de versão pelo Team Foundation Server. </p>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="fcamarapython" role="tabpanel">
                                        <div class="timeline-heading">
                                            <h5 class="timeline-title subtitle">Desenvolvimento de projeto Python 3</h5>
                                            <p><small class="text-muted"><i class="glyphicon glyphicon-certificate"></i>  Analista Desenvolvedor </small></p>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Sistema criado para agir como intermediário entre dois endpoints, fossem esses SQL, Soap Service ou Rest Service. Foi utilizado Python 3.4 como linguagem de desenvolvimento integrando o Flask Web Framework para
                                                o gerenciamento de sessões dos usuários e controle de permissão as views. Para comunicação com serviços Rest e Soap o modulo nativo Requests do Python agiu como base de comunicação. O Mysql serviu como banco
                                                relacional interno integrado com o ORM Peewee, por ser dinâmico e atuar como intermediário do banco no back-end da aplicação. No front-end utilizou-se o framework AngularJS para uma melhor convenção de programação
                                                e rápido desenvolvimento dos CRUDS utilizados na aplicação. Na autenticação utilizou-se o modulo JWT para criação do token de autenticação do usuário logado e interceptors do AngularJS para interceptar todas
                                                as requisições da aplicação para validação dos Tokens. </p>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="fcamarabi" role="tabpanel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title subtitle">Sistemas BI</h4>
                                            <p><small class="text-muted"><i class="glyphicon glyphicon-certificate"></i>  Consultor BI </small></p>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Desenvolvimento de Cubos OLAP no Analysis Service com queries MDX pré- indexadas para filtragem e exibição de grandes quantidades de dados em dashboards específicas de clientes.</p>
                                            <p> Criação de soluções em Reporting Service para geração de relatórios complexos e dinâmicos contemplando a criação de queries MDX aplicáveis nos cubos de dados. Criação de pacotes Integration Services (SSIS) como
                                                solução ETL para Crawling, Consolidação e Load de grandes quantidades de dados em diferentes tipos de formato. </p>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="fcamarasearchengine" role="tabpanel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title subtitle">Search Engines</h4>
                                            <p><small class="text-muted"><i class="glyphicon glyphicon-certificate"></i> Especialista em Buscas Corportivas</small></p>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Implementação, Manutenção e Customização de Search Engines de alta escalabilidade e disponibilidade tais como: Apache Solr, Elastic Search e FAST Search for Sharepoint sendo responsável por estratégias de crawling
                                                de dados, criação de indexadores específicos de pesquisa, escalabilidade e configuração de alta disponibilidade através de múltiplas instâncias consumidas por load balancers. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge info">
                            <p class="label-multiple-year">2010/2011</p>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Fiorde Logística</h4>
                                <p><small class="text-muted"><i class="glyphicon glyphicon-certificate"></i> Analista de Suporte de Infraestrutura</small></p>
                            </div>
                            <div class="timeline-body">
                                <p>Suporte e manutenção de servidores, computadores e notebooks (Software e Hardware).</p>
                                <p>Diagnóstico e manutenção de redes, configuração de serviços diversos.</p>
                                <p>Utilização do Active Directory, instalação e manutenção dos sistemas operacionais Windows XP/2000, Windows 2008 Server. Criação de Scripts utilizados para mapeamento de Unidades de rede e configuração do Active Directory.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge danger">
                            <p class="label-multiple-year">2009</p>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Prodesp – Centro de Processamento de Dados do Estado de São Paulo</h4>
                                <p><small class="text-muted"><i class="glyphicon glyphicon-certificate"></i> Estágiario em suporte técnico</small></p>
                            </div>
                            <div class="timeline-body">
                                <p>Auxilio técnico a usuários na utilização de softwares, instalação de Softwares, drivers e Sistemas Operacionais.</p>
                                <p> Auxilio na instalação, manutenção e configuração de tipologias de redes, microcomputadores e plataformas de comunicação de dados.</p>
                                <p> Atendimento níves 1, 2, 3 e 4 para registro e resolução das ocorrências no sistema Help Desk.
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>-->
        </div>
        <!--</div> -->
    </section>