  <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4 bio-container">
                        <div class="avatar social">
                            <img class="developer-image-mini">
                        </div>
                        <div class="bio">
                            <p class="bio-info">Desenvolvedor de Softwares, graduado em Ciência da Computação, com experiência profissional em ambientes de desenvolvimento back-end, front-end, SGBDs, e deployment.
                            </p>
                            <p class="bio-info">Gustavo combina sua interdisciplinaridade junto com seus 8 anos de experiência profissional na área de Tecnologia da Informação para desenvolver aplicações robustas, escaláveis e de fácil manutenção.</p>
                            <p class="bio-hire-now">Desenvolvedor de Software.<br> Janeiro 2017. <a class="contact_me" href="#contact" title="Contrate Gustavo Henrique">Contrate Agora<i class="fa fa-angle-double-right"></i></a>
                            </p>
                        </div>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Redes Sociais</h3>
                        <ul class="list-inline">
                            <li>
                                <a target="_blank" href="https://www.facebook.com/gustatech" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a target="_blank" href="https://plus.google.com/u/0/+GustavoHenriqueAlmeida" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <!--<li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>-->
                            <li>
                                <a target="_blank" href="https://www.linkedin.com/in/gustatech" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a target="_blank" href="https://github.com/Gustalm" class="btn-social btn-outline"><i class="fa fa-github"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Contato</h3>
                        <p>Caso deseje entrar em contato, utilize o formulário <a class="contact_me" href="#contact" title="Contrate Gustavo Henrique">acima<i class="fa fa-angle-double-up"></i></a> ou mande um e-mail para <a href="mailto:gustatec@gmail.com">gustatec@gmail.com</a>.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright 2017 &copy; Website Desenvolvido por Gustavo Almeida. Todos os direitos reservados.
                    </div>
                </div>
            </div>
        </div>
    </footer>